In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\deepthi\appdata\local\programs\python\python311\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:

import pyodbc

In [2]:

import pandas as pd
import pyodbc

# Use a context manager for the connection
with pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-7A07QL7\\MSSQLSERVER1;'
    'DATABASE=Bikestore;'
    'UID=sa;'
    'PWD=1234'
) as conn:
    # Query Customers table
    query_customers = "SELECT * FROM sales.customers;"
    customers_df = pd.read_sql(query_customers, conn)


customers_df

C:\Users\Deepthi\AppData\Local\Temp\ipykernel_21952\3298403818.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers_df = pd.read_sql(query_customers, conn)

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,None,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301
1441,1442,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201
1442,1443,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722
1443,1444,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424
1444,1445,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580

In [7]:
# Define the updated information
updates = {
    'customer_id': 2,
    'city': 'San Jose',
    'state': 'CA'
}

In [8]:
# Locate and update the row for customer_id = 2
customers_df.loc[customers_df['customer_id'] == updates['customer_id'], ['city', 'state']] = updates['city'], updates['state']

In [9]:
# Check the updated record
print(customers_df[customers_df['customer_id'] == updates['customer_id']])

   customer_id first_name last_name phone                 email  \
1            2      Kasha      Todd  None  kasha.todd@yahoo.com

             street      city state zip_code
1  910 Vine Street   San Jose    CA    95008

In [10]:
customers_df.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,San Jose,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820

In [11]:
from datetime import datetime

# Add start_date and end_date columns
customers_df['start_date'] = datetime.today().strftime('%Y-%m-%d')
customers_df['end_date'] = None  # Active rows have NULL end_date

In [ ]:
# Define the updated information
updated_customer = {
    'customer_id': 2, 
    'city': 'San Jose',
    'state': 'CA'
}

In [13]:
# Update the end_date for the current record
customers_df.loc[
    (customers_df['customer_id'] == updated_customer['customer_id']) & (customers_df['end_date'].isnull()), 
    'end_date'
] = datetime.today().strftime('%Y-%m-%d')

In [14]:
# Create a new record with the updated data
new_record = customers_df.loc[customers_df['customer_id'] == updated_customer['customer_id']].copy()

new_record['city'] = updated_customer['city']
new_record['state'] = updated_customer['state']
new_record['start_date'] = datetime.today().strftime('%Y-%m-%d')
new_record['end_date'] = None  # Active record has NULL end_date

# Append the new record to the DataFrame
customers_df = pd.concat([customers_df, new_record], ignore_index=True)

In [17]:
# Check the history for customer_id = 2
print(customers_df[customers_df['customer_id'] == updated_customer['customer_id']])

customers_df

      customer_id first_name last_name phone                 email  \
1               2      Kasha      Todd  None  kasha.todd@yahoo.com
1445            2      Kasha      Todd  None  kasha.todd@yahoo.com

                street      city state zip_code  start_date    end_date
1     910 Vine Street   San Jose    CA    95008  2025-06-23  2025-06-23
1445  910 Vine Street   San Jose    CA    95008  2025-06-23        None

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2025-06-23,None
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,San Jose,CA,95008,2025-06-23,2025-06-23
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2025-06-23,None
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2025-06-23,None
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2025-06-23,None
...,...,...,...,...,...,...,...,...,...,...,...
1441,1442,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,2025-06-23,None
1442,1443,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,2025-06-23,None
1443,1444,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,2025-06-23,None
1444,1445,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,2025-06-23,None
1445,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,San Jose,CA,95008,2025-06-23,None

In [3]:
# Add a new column for the previous value
customers_df['previous_city'] = None  # Initialize with None

# Check the updated DataFrame
print(customers_df.head())

   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks            None    debra.burks@yahoo.com
1            2       Kasha      Todd            None     kasha.todd@yahoo.com
2            3      Tameka    Fisher            None    tameka.fisher@aol.com
3            4       Daryl    Spence            None     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state zip_code previous_city
0      9273 Thorne Ave.    Orchard Park    NY    14127          None
1       910 Vine Street        Campbell    CA    95008          None
2  769C Honey Creek St.   Redondo Beach    CA    90278          None
3        988 Pearl Lane       Uniondale    NY    11553          None
4         107 River Dr.      Sacramento    CA    95820          None

In [7]:
# Define the update
updated_customer = {
    'customer_id': 2,
    'new_city': 'San '
}

In [8]:
# Locate the row to update
customers_df.loc[customers_df['customer_id'] == updated_customer['customer_id'], 'previous_city'] = customers_df.loc[
    customers_df['customer_id'] == updated_customer['customer_id'], 'city'
].values[0]  # Move current city to previous_city

# Update the city to the new value
customers_df.loc[customers_df['customer_id'] == updated_customer['customer_id'], 'city'] = updated_customer['new_city']

In [9]:
# Check the updated record
print(customers_df[customers_df['customer_id'] == updated_customer['customer_id']])

   customer_id first_name last_name phone                 email  \
1            2      Kasha      Todd  None  kasha.todd@yahoo.com

             street  city state zip_code previous_city
1  910 Vine Street   San     CA    95008      San Jose

In [10]:
# Create a history table
customers_history = pd.DataFrame(columns=customers_df.columns.tolist() + ['change_date'])

# Check the initial empty history table
print(customers_history)

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, email, street, city, state, zip_code, previous_city, change_date]
Index: []

In [11]:
# Define the update
updated_customer = {
    'customer_id': 2,
    'new_city': 'San Jose',
    'new_state': 'CA'
}

In [12]:
from datetime import datetime

# Get the current record to be updated
old_record = customers_df[customers_df['customer_id'] == updated_customer['customer_id']].copy()

# Add a change_date column with today's date
old_record['change_date'] = datetime.today().strftime('%Y-%m-%d')

# Append the old record to the history table
customers_history = pd.concat([customers_history, old_record], ignore_index=True)

# Check the updated history table
print(customers_history)

  customer_id first_name last_name phone                 email  \
0           2      Kasha      Todd  None  kasha.todd@yahoo.com

             street  city state zip_code previous_city change_date
0  910 Vine Street   San     CA    95008      San Jose  2025-06-24

In [13]:
# Update the city and state in the main table
customers_df.loc[customers_df['customer_id'] == updated_customer['customer_id'], ['city', 'state']] = updated_customer['new_city'], updated_customer['new_state']

# Check the updated main table
print(customers_df[customers_df['customer_id'] == updated_customer['customer_id']])

   customer_id first_name last_name phone                 email  \
1            2      Kasha      Todd  None  kasha.todd@yahoo.com

             street      city state zip_code previous_city
1  910 Vine Street   San Jose    CA    95008      San Jose